body {
  color: #828282;
  font-family: Avenir Next, Helvetica Neue, Geneva, sans-serif;
  font-size: 22px;
}

.input-group {
  margin: 4rem auto;
  max-width: 800px;
  display: flex;

  input, button {
    font-size: 22px;
    padding: 1rem 2rem;
    border-radius: 4px;
    border: 1px solid #aaa;
  }

  input {
    width: 100%;
    margin: 0 1rem 0 0;
  }

  button {
    background: #6874E8;
    border-color: #6874E8;
    color: #fff;
  }
}

.table {
  margin: 4rem auto;
  max-width: 800px;
  width: 100%;

  th {
    padding: 2rem 0;
  }
}

.fade-enter {
  opacity: 0;
  transform: translateY(1rem);
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transform: none;
  transition: opacity 200ms ease-in, transform 500ms cubic-bezier(0,1.04,.56,1.56);
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}

.fade-appear {
  opacity: 0;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}